@media (max-width: 1200px) {
  header {
    height: auto;
  }
  header .content img.hero {
    height: 580px;
  }
}
@media (max-width: 991px) {
  header .content img.hero {
    height: 400px;
  }
  header .content .left h1 {
    font-size: 40px;
    line-height: 47px;
  }
  header .content .btn {
    line-height: 60px;
    font-size: 23px;
    max-width: 210px;
  }
}
@media (max-width: 767px) {
  .wrapper .container {
    width: 100%;
    padding: 0px 20px;
  }
  header:before {
    width: 167px;
    height: 120px;
  }
  header .my-navbar .menu ul li {
    float: left;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    line-height: auto;
  }
  header .my-navbar .menu ul li.dropdown .dropdown-menu {
    background-color: #D55258;
    border-color: #ccc;
  }
  header .my-navbar .menu ul li.dropdown .dropdown-menu li a {
    font-size: 18px;
    line-height: 25px;
  }
  header .my-navbar .menu ul li a {
    color: #fff;
    font-weight: 400;
    line-height: inherit;
    font-size: 30px;
    line-height: 40px;
    display: block;
  }
  header .my-navbar .menu ul li a:hover, header .my-navbar .menu ul li a:focus, header .my-navbar .menu ul li a:active {
    color: #fff;
  }
  header .hamburger {
    display: block;
    float: left;
    width: 20px;
    height: 14px;
    position: relative;
    z-index: 1001;
    top: 21px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  header .hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #D55258;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header .hamburger span:nth-child(1) {
    top: 0px;
  }
  header .hamburger span:nth-child(2) {
    top: 7px;
  }
  header .hamburger span:nth-child(3) {
    top: 14px;
  }
  header .hamburger.open span {
    background-color: #fff;
  }
  header .hamburger.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
  }
  header .hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  header .hamburger.open span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
  }
  header .content .d-flex {
    flex-direction: column;
  }
  header .content .left {
    align-items: center;
    width: 100%;
  }
  header .content .left h1 {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
  }
  header .content .left .btn {
    line-height: 40px;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  header .content img.hero {
    margin-top: 50px;
    height: auto;
    width: 100%;
  }
  .menu {
    position: fixed;
    z-index: 11;
    top: 0px;
    right: -110%;
    padding: 100px 0 !important;
    width: 100vw;
    height: calc(100vh - 0px);
    background-color: #D55258;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
  }
  .menu.active {
    right: 0px;
  }
}/*# sourceMappingURL=header1-responsive.css.map */