$blue-color: #003467;
$yellow-color : #F7AD19D9;
$secondary-color-hover:#15E888;

$green-color:#A5F8D3;

$neutral-color-white:#EBEBEB;
$cursor-color:#fff;
$black-color:#0D1F2D;
$black-color-hover:#0D1F2D;
$color-background-light: #1B3F5A;
$linear-background:linear-gradient(90deg, #00BD9C 0%, #15E888 100%);
$inner-page-margin-top:170px;

$bebas:'Bebas Neue', sans-serif;
$nokora:'Nokora', sans-serif;
$nunito: 'Nunito', sans-serif;


@media(min-width:1600px) and (max-height:900px){
    .hero .right-col img{
        width: 75%;
    }
}
@media(min-width:2000px){
    // .wrapper{
    //     box-shadow: 0px 0px 5px #ccc;
    // }
}
@media(min-width:1620px){
    .container-fluid, header{
        padding:0 70px;
        max-width:1980px;
    }
    .testimonial .inner-section .slider .d-flex{
        padding:0 70px;
    }
    .offcanvas{
        width:350px !important;
    }
    // h1{
    //     font-size:90px;
    // }
    // h2{
    //     font-size:60px;
    // }
    // h3{
    //     font-size:48px;
    // }
    // h4{
    //     font-size:30px;
    // }
    // body{
    //     font-size:20px;
    //     line-height: 28px;
    // }
   
}
@media(min-width:2000px){
    .offcanvas{
        width:19vw !important;
    }
}
@media(max-width:1439px){
    $inner-page-margin-top:130px;
    .offcanvas{
        width:300px !important;
    }
    .dashboard{
        margin-top: $inner-page-margin-top;
        padding-left: 300px;
        .weekly-status-blocks .block.chart {
            width: 46%;
        }
    }
    .hero{
        height:calc(100vh - 0px);
        padding: 150px 0 ;
        .left-col .text-container p {
            font-size: 21px;
        }
    }
    .try .right-col .coding-bottom p{
        font-size:14px;
    }
    .testimonial .inner-section{
        padding:40px 50px;
    }
}
@media(max-width:1360px){
    // h1{
    //     font-size:60px;
    // }
    // h2{
    //     font-size:40px;
    // }
    // h3{
    //     font-size:32px;
    // }
    // h4{
    //     font-size:24px;
    // }
    .container-fluid {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .btn{
        padding: 0 16px;
    }
    header{
        padding: 0 2.5%;
        .btn-brand {
            line-height: 44px;
        }
        .my-navbar{
            height:69px;
            .menu ul li a{
                padding:8px 10px;
            }
            .right-menu ul{
                li{
                    &:first-child{
                        margin-right: 0 !important;
                    } 
                }
                li.margin-large {
                    margin-right: 15px;
                }
                li:nth-child(2){
                    display: none;
                }
            }
        }
    }
    .hero{
        padding:130px 0 0 0;
    }
    .career-path .row > *:before{
        background-size: contain;
        width: 140px;
        right: -21%;
    }
    .home-values .inner-container {
        padding: 45px 2.5%;
    }
    .journey{
        .main-block{
            h3{
                font-size:26px;
            }
            ul li{
                font-size:20px;
                img {
                    margin-right: 15px;
                }
            }
        }
    }
    .testimonial .inner-container{
        padding:50px;
        .right-icon, .left-icon{
            width:35px;
        }
        .slider .right-col p {
            padding: 0 20px 0 30px;
        }
    }
    .learning {
        margin-top: 130px;
    }
    .dashboard{
        padding: 0px;
        margin-top: 70px;
    }
    .offcanvas{
        position: static;
        width: 100% !important;
        flex-direction: row;
        height: 115px;
        margin: 0 0 50px 0;
        .offcanvas-header{
            flex-direction: row;
            justify-content: flex-start;
            border-bottom: 0px;
            border-right: 1px solid #fff;
            padding: 8px 20px;
            .user-image{
                height:95px;
                margin:0px !important;
            }
            .text-container{
                text-align: left !important;
                margin-left: 20px;
                h4{
                    width:100%;
                    align-self: left;
                }
                p{
                    width:100%;
                }
            }
            
        }
        .offcanvas-body{
            padding:8px 20px;
            h4{
                float: left;
                width: 30%;
                margin: 0px !important;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            ul{
                width: 70%;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                li{
                    margin-bottom: 5px;
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
        .filters{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: center;
            .form-check{
                margin-bottom: 0 !important;
                width: 33.33%;
            }
        }
    }
    .course-page {
        margin-top: 100px;
    }
    .profile{
        margin-top: 100px;
        .profile-header{
            .img-container img{
                height:96px;
                width:96px;
            }
        }
    }
    .pricing {
        margin-top: 100px;
        .pricing-col .cancelled-price{
            left: 0px;
        }
    }
    
}
@media(max-width:1200px){
    .career-path .row > *:before{
        width:95px;
    }
    .profile .inner-tabs #about .badges {
        padding: 15px 15px 10px 15px;
    }
    .payment{
        .left-col{
            .express-checkout ul li{
                width:30%;
                line-height: 47px;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    padding:0px;
                }
            }
        }
    }  
}

@media(max-width:1100px){
    
}
@media(max-width:1024px){
    .btn{font-size:14px;}
    .btn-56, .btn-48{
        line-height: 36px;
        max-height: 36px;
    }
    .form-control, .form-select {
        height: 36px;
        line-height: 36px;
    }
    header{
        .my-navbar .menu ul li a{
            padding: 8px 5px;
        }
        .logo-container a .logo-icon{
            height:24px;
        }
        .my-navbar .right-menu ul{
            li.margin-large {
                margin-right: 8px;
            }
            li.language .dropdown-toggle {
                padding: 18px 10px;
            }
        } 
    } 
    
    .hero{
        height: auto;
        padding:130px 0 100px 0;
        .left-col .text-container{
            text-align: left;
            margin-bottom: 15px;
            h1{
                line-height: 40px;
                font-size:40px;
                text-align: center;
                width:100%;
                &:before{
                    top: -8px;
                    left: -57px;
                    width: 130%;
                    height: 85px;
                }
            }
            p{
                text-align: left;
                font-size:16px;
                line-height: 23px;
            }
            .btn-brand{
                width: 220px;
                margin: 0 auto;
                font-size: 16px;
                display: block;
            }
        }
        .right-col img {
            width: 100%;
        }
    }
    .home-values{
        .container-fluid{padding:0px;}
        .inner-container {
            padding: 45px 2.5%;
            border-radius: 0;
        }
        h2{
            font-size:48px;
            margin-bottom: 0;
        }
        .row > * p {
            padding: 0 0%;
        }
        .row > * h4{
            height:48px;
        }
    }
    .try{
        .col-md-5 {
            width: 100%;
        }
        .offset-md-2{            
            margin:70px auto 0 auto;
            width:80% !important;
            max-width:600px;
        }
    }
    .career-path{
        .container-fluid{padding:0px;}
        .inner-container{
            border-radius: 0px;
            .subtitle {
                font-size: 16px;
                margin-top: 0px;
            }
        }
        .row{
            padding:0 2.5%;
            > * p {
                padding: 0 0%;
            }
        } 
    }
    .dashboard{
        .recommended-blocks .block,
        .progress-blocks .block,
        .certification-blocks .block,
        .jobs .block{
            width:46%;
        }
        .weekly-status-blocks .block{
            width:calc(50% - 30px)
        }
        .weekly-status-blocks .block.chart{
            width:100%;
            img{
                width:100%;
            }
        }
        &.account{
            >.container-fluid{
                >h3{
                    margin-bottom: 20px !important;
                }
                >.mycard{
                    margin-bottom: 20px !important;
                }
            }
            .mycard{
                padding:20px;
                h4.mb-5{
                    margin-bottom: 20px !important;
                }
                .personal-info{
                    width: 100%;
                    li{
                        width:100%;
                        margin: 0 0 10px 10px;
                    }
                }
                .btn-brand{
                    top: 15px;
                    right: 20px;
                }
            }
        }
    }
    .offcanvas{
        .offcanvas-body h4{
            justify-content: flex-start;
        }
    }
    .catalog .catalog-blocks .block{
        width:calc(50% - 30px)
    }
    .payment{
        margin-top: 130px;
        .left-col{
            max-width:580px;
            margin:0 auto;
        }
        .right-col{
            max-width:420px;
            margin:0 auto 50px auto;
        }
    }
    .learning{
        .left-col,.right-col{
            height: auto;
        }
    }
    
    
}
@media(max-width:991px){
    h1{
        font-size:40px;
        line-height: 47px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size:28px;
    }
    h4{
        font-size:20px;
    }
    .wrapper{    
        .main-container{
            width:100%;
            margin-left: auto;
            margin-right: auto;
            padding:0px;
        }
    }
    .learning .details-col .img-container{
        img{
            width: 100%;
            height: auto;
        }
    }
    .testimonial{
        .inner-container .right-icon, .inner-container .left-icon {
            width: 25px;
        }
        
        .inner-section{
            padding: 30px;
            .slider{
                .d-flex{
                    flex-direction: column;
                    .left-col{
                        width: 240px;
                        margin: 0 auto;
                        img{
                            width: 218px;
                            height: 186px;
                        }
                        &:before{
                            max-height: 226px;
                            max-width: 208px;
                        }
                    }
                    .right-col{
                        margin-left: 0px;
                        margin-top: 50px;
                    }
                }
            }
        } 
    }
    
    .footer .footer-logo{
        margin:0 auto 30px auto;
        width:112px;
        display: block;
    }
    .pricing .pricing-col{
        margin-bottom: 30px;
    }

}
@media(max-width:767px){
    body{font-size: 16px; line-height: 23px;}
    .container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }
    header{
        padding: 0 16px;
        
        .my-navbar {
            height: 56px;
            .right-menu{
                display: none;
            }
        }
        &:before {
            width: 167px;
            height: 120px;
        }
        .my-navbar{
            .contact-us{
                display: none;
            }
            .menu{
                ul{
                    li{
                        float: left;
                        margin-left: 0px;
                        width:100%;
                        text-align: center;
                        line-height: auto;
                        &.dropdown{
                            .dropdown-menu{
                                background-color: $blue-color;
                                border-color: #ccc;
                                border-radius: 0;
                                li a {
                                    font-size:18px;
                                    line-height: 25px;
                                }
                            }
                        }
                        a{
                            color:#fff;
                            font-weight: 400;
                            line-height: inherit;
                            font-size: 30px;
                            line-height: 40px;
                            display: block;
                            &:hover, &:focus, &:active{
                                color:#fff;
                            }
                            &.active{
                                color:#fff;
                                &::after {
                                    display: none;
                                }
                            }
                            &:hover::after {
                                display: none;
                            }
                            &::after {
                                display: none !important;
                            }
                        }  
                        // &.home{
                        //     display: block;
                        // }
                    }
                }
                .dropdown-menu {
                    position: static !important;
                    float: left !important;
                    transform: none !important;
                    width: 100%;
                }
            }
        }
        .hamburger{
            display: block;
            float: left;
            // width: 30px;
            // height: 24px;
            width: 20px;
            height: 14px;
            position: relative;
            z-index: 1001;
            // top:21px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $blue-color;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }
            span:nth-child(1) {
                top: 0px;
            }
            span:nth-child(2) {
                top: 7px;
            }
            span:nth-child(3) {
                top: 14px;
            }
        
            &.open{
                span{
                    background-color: #fff;
                }
                span:nth-child(1) {
                    top: 8px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                span:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }
                span:nth-child(3) {
                    top: 8px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }
        .content{
            .d-flex{
                flex-direction: column;
            }
            .left{
                align-items: center;
                width:100%;
                h1 {
                    font-size: 30px;
                    line-height: 37px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .btn{
                    line-height: 40px;
                    font-size: 20px;
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
            img.hero{
                margin-top: 50px;
                height:auto;
                width:100%;
            }
        }
        .menu{
            opacity: 1 !important;
            transform: none !important;


            position: fixed;
            z-index: 11;
            top:0px;
            right:-110%;
            padding:100px 0 !important;
            width:100vw;
            height:calc(100vh - 0px);
            background-color: $blue-color;
            transition: all ease-in-out 0.3s;
            -webkit-transition: all ease-in-out 0.3s;
            &.active{
                right:0px;
            }
        }
    }
    header .my-navbar .menu ul li.dropdown>a:after {
        content:"" !important;
        background-image: url(../images/accordion-arrow-down-white.svg) !important;
        display: inline-block !important;
    }
    .hero{
        padding: 90px 0 50px 0;
        
        .left-col{
            padding-top: 30px;
            .text-container{
                h1 {
                    line-height: 32px;
                    font-size: 32px;
                    &:before {
                        left: 50%;
                        transform: translateX(-50%);
                        top: -6px;
                        width: 130%;
                        height: 65px;
                    }
                }
                p {
                    font-size:14px;
                    line-height: 21px;
                }
            }
            .links ul li a img{
                margin-right: 6px;
            }
        }
        .right-col{
            justify-content: center;
            img{
                width: auto;
                max-height: 250px;
                min-width: 200px;
            }
        }
    }
    .home-values{
        .inner-container{
            padding: 45px 16px;
        }
        .row > *{
            padding-top: 35px;
            padding-bottom: 0px;
            h4{
                height: auto;
                margin: 20px 0 5px 0;
            }
        }
    }
    .try {
        padding: 50px 0 30px 0;
        .right-col{
            padding-right: 16px;
            &:before{
                top: -16px;
            }
            .coding-bottom .btn {
                height: 40px;
                width: 86px;
                padding: 0;
            }
            .coding-bottom{
                padding-left: 10px;
                padding-right: 10px;
                width: calc(100% + 16px);
            }
        }
        h2{margin-bottom: 5px;}
        .offset-md-2 {
            margin: 45px auto 0 auto;
            width:100% !important;
        }
    }
    .career-path{
        .inner-container {
            padding: 48px 16px;
        }
        .row > *:before{
            display: none !important;
        }
        .row > * {
            color: #fff;
            text-align: center;
            position: static;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        // .row .slick-next:before{
        //     display: block !important;
        //     right:0px !important;
        //     width:150px !important;
        // }
        // .slick-prev:before{
        //     right: 10px;
        //     display: block !important;
        // }
        
        .slick-slide img {
            display: block;
            margin: 30px auto 20px auto;
        }
        .row > * h4{
            margin: 0 0 5px 0;
        }
    }
    .journey{
        .main-block{
            .slick-slide{
                padding:0 16px;
            }
            .slick-dots{
                bottom:-80px;
                li {
                    display: inline-block !important;
                    height: auto !important;
                    width: auto !important;
                    background-color: inherit;
                    button:before{
                        color:#ccc;
                    }
                    &.slick-active button:before{
                        color:$yellow-color;
                    }
                }
            }
            a{font-size:16px;}
        }
    } 
    .empower{
        padding-top: 30px !important;
        padding-bottom: 0;
        .img-fluid{
            height: auto;
        }
        .text-center{
            margin-top: 30px;
        }
    }
    .testimonial{
        .container-fluid{padding: 0; border-radius: 0;}
        .inner-container{
            padding:50px 30px;
        }
        .inner-section{
            padding:40px 32px 40px 16px;
        }
    }
    .footer{
        .d-flex{
            flex-wrap: wrap;
            .my-column.links {
                width: 50%;
            }
        }
    }
    .footer-bottom .d-flex>div{
        width:100%;
        &:first-child{
            margin:10px 0;
        }
    }
    .offcanvas{
        .filters .form-check{
            width:100%;
        }
        .offcanvas-header{
            display: none;
        }
        .offcanvas-body{
            h4{
                width:40%;
            }
            ul{
                width:60%;
            }
        }
        
    }
    .dashboard{
        .progress-heading span:first-child{
            margin-right: 20px;
        }
        .recommended-blocks .block,
        .progress-blocks .block,
        .certification-blocks .block,
        .jobs .block{
            width: 45%;
        }
        .empty-banner{
            justify-content: center;
            padding-right: 0;
        }
    } 
    .catalog{
        .offcanvas{
            height: auto;
        }
        .container-fluid{
            >.d-flex{
                flex-direction: column;
                .search-bar{
                    position: static;
                    width:100%;
                    margin-top: 15px;
                }
            }
        }
        .catalog-blocks .block{
            width:calc(100% - 30px)
        }
    }
    .course-page{
        .main-img{
            margin:30px auto 0 auto;
        }
        .main-text-container ul{
            flex-wrap: wrap;
            li{
                width:50%;
                margin-bottom: 10px;
            }
        }
        .key{
            margin-bottom: 30px;
        }
        .why .block img{
            width:50px;
        }
        .accordion .accordion-item .accordion-button:after{
            top: 20%;
            transform: none;
        }
        .accordion .accordion-item .accordion-body .block{
            .level-2{
                padding-left: 0 !important;
            }
            .ps-5{
                padding-left: 1.5rem!important;
            }
            h5{
                padding-left: 40px;
            }
        }
    }
    .page-margin{
        margin: 100px 0 70px 0 !important;
    }
    .login-page{
        width: 320px;
        padding:30px;
        .my-5{
            margin-top:20px !important;
            margin-bottom:20px !important;
        }
        .links ul{
            flex-wrap: wrap;
            li{
                width:175px;
                margin:0 auto;
                margin-bottom: 10px;
            }
        }
    }
    .profile{
        margin-top: 70px;
        .profile-header{
            padding: 20px;
            .share {
                top: 10px;
                right: 10px;
                font-size: 14px;
                font-weight: normal;
                img{margin-left: 5px;}
            }
            .text-container{
                margin-left: 15px;
                h3{
                    font-size:20px;
                    margin-bottom: 5px;
                }
                ul li {
                    margin-right: 10px;
                    svg{width:16px;}
                }
            }
        }
        
        .inner-tabs{
            .card {
                padding: 20px;
            }
            .nav-tabs li {
                margin-right: 11px;
            }
            #about{
                .about-text-container{
                    flex-wrap: wrap;
                    flex-direction: column;
                    p{width:100%; margin-bottom: 15px;}
                }
                .badges {
                    width: 260px;
                    margin: 30px auto 0 auto;
                }
            } 
        } 
    }
    .pricing{
        .text-container{
            width:100%;
            p{
                font-size:16px;
                line-height: 23px;
            }
            .button-row{
                margin:20px auto !important;
                .mx-3 {
                    margin: 0 10px !important;
                }
                .save-text{
                    .mobile-only{display: block;}
                    .desktop-only{display: none;}
                    img{
                        top: -5px;
                        right: -60px;
                    }
                }
            }
            .button-row a, .button-row span {
                font-size: 18px;
            }
            
            
        }
        .pricing-row {
            margin-top: 70px;
            .slick-slide{
                margin:0 20px;
            }
        }
        .pricing-col {
            max-width: 480px;
            margin: 40px auto 20px auto;
        }
    } 
    .payment{
        .left-col{
            padding: 0px;
            .express-checkout{
                width: 200px;
                margin: 0 auto 30px auto;
                p{
                    width:166px;
                }
                ul{
                    flex-direction: column;
                    li{
                        width: 100%;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .mt-fix{
            margin-top: 10px;
        }
    }
    .learning{
        margin-top: 80px;
        .left-col{
            margin-bottom: 20px;
        }
        .left-col,.right-col{
            height: auto;
        }
        .outline-btn-row{
            margin-bottom: 20px;
        }
        .top-bar{
            margin-bottom: 30px;
        }
    }



    
}
@media(max-width:600px){
    .dashboard{
        .recommended-blocks .block,
        .progress-blocks .block,
        .certification-blocks .block,
        .jobs .block {
            width: calc(100% - 30px);
        }
        .all-courses-top-bar ul li img{
            display: none;
        }
    } 
}
@media(max-width:480px){
    
}